body {
  font-family: "Helvetica", "Arial", "sans-serif";
  margin: 0;
}

#navbar {
  position: fixed;
  background-color: #91A398;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
}

#navbar a:hover {
  color: #33605A;
  text-decoration: underline;
}

#navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 35px;
}

#navbar a {
  color: #070001;
  text-decoration: none;
  padding: 50px;
  font-weight: bold;
}

#welcome-section {
  padding-top: 100px;
  background-color: #91A398;
  display: block;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 20%;
  font-size: 40px;
}

#welcome-section p {
  text-align: center;
  font-size: 20px;
  color: #33605A;
  text-decoration: underline;
}

#projects {
  background-color: #E9E0D1;
  margin-top: -20px;
  min-height: 100vh;
  padding-bottom: 50px;
  text-align: center;
}

h2 {
  text-align: center;
  padding-top: 150px;
}

#projects a {
  list-style-type: none;
  display: inline-block;
  width: 450px;
  margin-top: 60px;
}

#projects a {
  color: #33605A;
}

#projects img {
  width: 350px;
  height: 260px;
  margin-top: 50px;
  border: 5px solid #94a299;
  border-radius: 5px;
}

#profile {
  min-height: 100vh;
  background-color: #33605A;
  margin-top: -20px;
  text-align: center;
}

#profile a {
  list-style-type: none;
  text-decoration: none;
}

#profile p {
  border: 3px solid black;
  border-radius:5px;
  background-color: #E9E0D1;
  color: #070001;
  font-weight: bold;
  font-size: 22px;
  width: 150px;
  padding: 5px;
  display: inline-block;
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
}

@media screen and (max-width:775px) {
	#navbar {
		text-align: center;
		height: 175px;
	}
	
	#navbar ul {
		display: block;
	}
	
	#navbar li {
		padding: 10px;
	} 
}